<!DOCTYPE html>
<html lang="en">


<div id="login-row" class="row justify-content-center align-items-center" style="margin-top: 20%;">
    <div id="login-column" class="col-md-6">
        <h4 class="text-center text-primary">Hello</h4>
        <form>
            <label for="username" class="text-info">Username:</label><br>
            <input v-model="me.username" type="text" name="login" class="form-control" placeholder="username">
        </form>
        <form style="margin-top: 10px;">
            <label for="password" class="text-info">Password:</label><br>
            <input v-model="me.password" type="password" name="login" class="form-control" placeholder="password">
            <small class="form-text text-muted">Do not use a sensitive password</small>
        </form>
        <form style="margin-top: 10px;">
            <button type="button" class="btn btn-primary" @click="login(me.username, me.password)">Login</button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                @click="register(me.username, me.password)">Register</button>
        </form>
    </div>
</div>

</html>